In [1]:
import json
import pandas as pd

In [3]:
import pandas as pd

reviews = '/Users/ashish/Documents/Semester 2/NoSQL/Team Project/dataset/output.json'
movies = '/Users/ashish/Documents/Semester 2/NoSQL/Team Project/dataset/metadata.json'

#load into dataframes
df1 = pd.read_json('/Users/ashish/Documents/Semester 2/NoSQL/Team Project/dataset/metadata.json')
df2 = pd.read_json(reviews)

In [28]:
#merge and preserve the item_id field
merged_df = pd.merge(df1, df2, on='item_id', how='outer')

In [29]:
merged_df.iloc[:10]

,title,directedBy,starring,dateAdded,avgRating,imdbId,item_id,txt
0,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",None,3.89146,114709.0,1,The one film that started what is now a cliché...
1,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",None,3.89146,114709.0,1,One of the greatest animated movies ever creat...
2,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",None,3.89146,114709.0,1,Toy Story 1; I have to give Toy Story 1 an 8 b...
3,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",None,3.89146,114709.0,1,Best!; This is a cartoon but not only for chil...
4,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",None,3.89146,114709.0,1,A delight!; Kids have always wondered if their...
5,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",None,3.89146,114709.0,1,"Old movie but still amazingly wonderful; ""Toy ..."
6,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",None,3.89146,114709.0,1,Toy Story; This was the very first computer an...
7,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",None,3.89146,114709.0,1,Awesome; A very sweet and fun movie. TOY STORY...
8,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",None,3.89146,114709.0,1,"""Toy Story"" - The Toys are in town and somethi..."
9,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",None,3.89146,114709.0,1,Great fun for anyone; Toy Story is definitely ...

In [33]:
#aggregate the reviews into array
grouped_df = merged_df.groupby(['item_id','title','directedBy','starring','avgRating','imdbId']).agg({'txt': lambda x: list(x)}).reset_index()

In [34]:
output = grouped_df.to_dict(orient='records')

In [27]:
# grouped_df.to_json('merged_file_withid2.json', orient='records', lines=True)

In [35]:
grouped_df.iloc[0:10]

,item_id,title,directedBy,starring,avgRating,imdbId,txt
0,1,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",3.89146,114709.0,[The one film that started what is now a clich...
1,2,Jumanji (1995),Joe Johnston,"Jonathan Hyde, Bradley Pierce, Robin Williams,...",3.26605,113497.0,[Fun little movie hidden in the back drawer; M...
2,3,Grumpier Old Men (1995),Howard Deutch,"Jack Lemmon, Walter Matthau, Ann-Margret , Sop...",3.17146,113228.0,"[Our Second Visit to Wabasha, Minnesota; Seque..."
3,4,Waiting to Exhale (1995),Forest Whitaker,"Angela Bassett, Loretta Devine, Whitney Housto...",2.86824,114885.0,[Extra in Movie; I was actually an extra in th...
4,5,Father of the Bride Part II (1995),Charles Shyer,"Steve Martin, Martin Short, Diane Keaton, Kimb...",3.07620,113041.0,[The Best Movie of All Time; let me tell you.....
5,6,Heat (1995),Michael Mann,"Robert De Niro, Al Pacino, Val Kilmer, Jon Voi...",3.85549,113277.0,[One of the best films of the 90's; I am assum...
6,7,Sabrina (1995),Sydney Pollack,"Harrison Ford, Greg Kinnear, Nancy Marchand, J...",3.37244,114319.0,[Really enjoyable; Sabrina contains about ever...
7,8,Tom and Huck (1995),Peter Hewitt,"Jonathan Taylor Thomas, Brad Renfro, Eric Schw...",3.11678,112302.0,"[Visually, Tom and Huck is eye-pleasing; Visua..."
8,9,Sudden Death (1995),Peter Hyams,"Raymond J. Barry, Powers Boothe, Jean-Claude V...",3.00242,114576.0,"[Review of Sudden Death; OK, let's be straight..."
9,10,GoldenEye (1995),Martin Campbell,"Pierce Brosnan, Sean Bean, Famke Janssen, Izab...",3.43340,113189.0,[Quick Reviews!!; Brosnan's first outing as Bo...

In [46]:
#movie review are now aggreagted into one array field in one record
# grouped_df.iloc[0]['txt']

In [40]:
#Prune the reviews to max 50 reviews
def limit_array(arr):
    return arr[:50]

In [41]:
grouped_df['txt'] = grouped_df['txt'].apply(lambda arr: limit_array(arr))

In [47]:
#post pruning
# grouped_df.iloc[0]['txt']

In [45]:
#Output the Json to import into Mogngo..size ~1.6 GB
grouped_df.to_json('merged_file_withid_pruned_50reviews.json', orient='records', lines=True)